<%- contentFor('body') %>

<section class="page-content">
	<section class="panel">
		<div class="panel-heading">
	        <h3>
	           Manage Users
	        </h3>
	    </div>
		<div class="panel-body">
			<div class="row">
				<div class="pull-right">
					<button type="button" class="btn btn-success margin-inline" data-toggle="modal" data-target="#createUserModal">Create User</a>
				</div>
			</div>
			<div>
				<%if (messages.errors) { %>
	                <div class="alert alert-danger" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.errors[0].message %>
	                </div>
	            <% } %>
	            <%if (messages.success) { %>
	                <div class="alert alert-success" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.success[0].message %>
	                </div>
	            <% } %>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover nowrap" id="example1" width="100%">
						<thead>
		                    <tr>
								<th>User</th>
								<th>User Type</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<% if(typeof users != 'undefined'){ %>
								<% for(var i=0; i < users.length; i++) { %>
								   <tr>
								     <td><%= users[i].username %></td>
								     <td><%= users[i].userType %></td>
								     <td>
								     	
								     	<button type="button" class="btn btn-danger margin-inline btn-xs btn-del" data-id="<%= users[i].id %>" ng-click="deleteUser(<%= JSON.stringify(users[i].id) %>)">Delete</button>
								     </td>
								   </tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</section>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
      </div>
      <form method="post" action="/admin/create_user">
	      <div class="modal-body">
		        	<div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Username</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="username" id="user-edit" class="form-control" placeholder="Username" required>
			            </div>
			        </div>
			        <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Password</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="password" id="password-edit" class="form-control" placeholder="Password" required>
			            </div>
			        </div>
			        <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">User Type</label>
			            </div>
			            <div class="col-md-9">
			               <select name="userType" class="form-control">
			               		<option>ADMIN</option>
			               		<option>USER</option>
			               </select>
			            </div>
			        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<div  class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
      </div>
      <form  ng-submit="createUser()" >
	      <div class="modal-body">
	           <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Firstname</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="firstname" id="group-edit" class="form-control" placeholder="Firstname" ng-model="user.firstname" required>
			            </div>
			        </div>
	              <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Lastname</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="lastname" id="group-edit" class="form-control" placeholder="Lastname" ng-model="user.lastname" required>
			            </div>
			        </div>
		        	<div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Username</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="username" id="group-edit" class="form-control" placeholder="Username" ng-model="user.username" required>
			            </div>
			        </div>
			        <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Password</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="password" id="group-edit" class="form-control" placeholder="Password" ng-model="user.password" required>
			            </div>
			        </div>
			        <div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">User Type</label>
			            </div>
			            <div class="col-md-9">
			               <select name="userType" id="userType" class="form-control" ng-model="user.userType" ng-change="userSelect()">
			               		<option value="ADMIN">ADMIN</option>
			               		<option value="USER">USER</option>
			               </select>
			            </div>
			        </div>
			        <div ng-show="usertype.showvalue" class="form-group row form-user-group" >
			            <div class="col-md-3">
			                <label class="form-control-label">User Group</label>
			            </div>
			            <div class="col-md-9">
			               <select name="userGroup" class="form-control" >
			               		<% if(typeof groups != 'undefined'){ %>
									<% for(var i=0; i < groups.length; i++) { %>
										<option><%= groups[i].group %></option>
									<% } %>
								<% } %>
			               </select>
			            </div>
			        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary"  >Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<%- contentFor('page_script') %>
<!-- Page Scripts -->

<script>
	/*var sel_group_id;html/index.html
    $(function(){

        $('#example1').DataTable({
            responsive: true
        });

        $('.btn-del').click(function(){
        	var id = $(this).data('id');
        	bootbox.confirm({ 
			  message: "Are you sure, you want to delete?", 
			  callback: function(result){
			  	 if(result){
			  	 	location.href = '/admin/delete_user/' + id;
			  	 }
			  }
			});
        });

        $('#userType').change(function(){
        	if($(this).val() == 'ADMIN'){
        		$('.form-user-group').hide();
        	} else {
        		$('.form-user-group').show();
        	}
        })*/
/*
        $('.btn-edit').click(function(){
        	sel_group_id = $(this).data('id');
        	var group = $(this).data('group');
        	$('#group-edit').val(group);
        	$('#editGroupModal').modal('show');
        });
    });*/
</script>