<%- contentFor('body') %>
<section class="page-content">
	<section class="panel">
		<div class="panel-heading">
	        <h3>
	           Manage Groups
	        </h3>
	    </div>
		<div class="panel-body">
			<div class="row">
				<div class="pull-right">
					<button type="button" class="btn btn-success margin-inline" data-toggle="modal" data-target="#createGroupModal">Create Group</a>
				</div>
			</div>
			<div>
				<%if (messages.errors) { %>
	                <div class="alert alert-danger" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.errors[0].message %>
	                </div>
	            <% } %>
	            <%if (messages.success) { %>
	                <div class="alert alert-success" role="alert">
	                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                		<span aria-hidden="true">×</span>
	                	</button>
	                	<%= messages.success[0].message %>
	                </div>
	            <% } %>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover nowrap" id="example1" width="100%">
						<thead>
		                    <tr>
								<th>Group</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<% if(typeof groups != 'undefined'){ %>
								<% for(var i=0; i < groups.length; i++) { %>

								   <tr>
								     <td><%= groups[i].group %></td>
								     <td>
								     	<button type="button" class="btn btn-success margin-inline btn-xs btn-edit" data-id="<%= groups[i].id %>" data-group="<%= groups[i].group %>">Edit</button>
								     	<button type="button" class="btn btn-danger margin-inline btn-xs btn-del" data-id="<%= groups[i].id %>" ng-click="deleteGroup(<%= JSON.stringify(groups[i].id) %>)">Delete</button>
								     </td>
								   </tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</section>

<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Edit Group</h5>
      </div>
      <form method="post" action="/admin/update_group">
	      <div class="modal-body">
		        	<div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Group Name</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="group" id="group-edit" class="form-control" placeholder="Group" required>
			                <input type="hidden" name="group_id" id="group-id">
			            </div>
			        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" ng-controller="MainCtrl" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
      </div>
      <form method="post" ng-submit="saveGroup($event)" action="/admin/create_group">
	      <div class="modal-body">
		        	<div class="form-group row">
			            <div class="col-md-3">
			                <label class="form-control-label">Group Name</label>
			            </div>
			            <div class="col-md-9">
			                <input type="text" name="group" class="form-control" placeholder="Group" ng-model="groupName" required>
			            </div>
			        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<%- contentFor('page_script') %>
<!-- Page Scripts -->

<script>
	/*var sel_group_id;
    $(function(){

        $('#example1').DataTable({
            responsive: true
        });

        $('.btn-del').click(function(){
        	var id = $(this).data('id');
        	bootbox.confirm({ 
			  message: "Are you sure, you want to delete?", 
			  callback: function(result){
			  	 if(result){
			  	 	location.href = '/admin/delete_group/' + id;
			  	 }
			  }
			});
        });

        $('.btn-edit').click(function(){
        	sel_group_id = $(this).data('id');
        	var group = $(this).data('group');
        	$('#group-edit').val(group);
        	$('#group-id').val(sel_group_id);
        	$('#editGroupModal').modal('show');
        });
    });*/
</script>